<div class="col-12">
	<div class="col-6">
		<app-login [hidden]="isAuthenticated"></app-login>
		<div [hidden]="!isAuthenticated" [ngClass]="isAuthenticated ? 'welcome-user' : ''">
			<div>
				Hello {{user.firstname}} {{user.lastname}}
			</div>
			<div>
				Welcome to your Homepage
			</div>
			<br>
			<div>
				Your role is {{user.role}}
			</div>
		</div>
	</div>
	<div class="col-6">
		<carousel [height]="325" [automatic]="5">
			<carousel-item>
				<div style="width: inherit;height: inherit;background:url(/assets/images/background-laptop.jpeg) no-repeat; background-size: cover;"></div>
			</carousel-item>
			<carousel-item>
				<div style="width: inherit;height: inherit;background:url(/assets/images/background-phone.jpeg) no-repeat; background-size: cover;"></div>
			</carousel-item>
			<carousel-item>
				<div style="width: inherit;height: inherit;background:url(/assets/images/background-accessory.jpeg) no-repeat; background-size: cover;"></div>
			</carousel-item>
		</carousel>
	</div>
</div>
<div class="col-12">

</div>
<app-shop></app-shop>