<div class="col-12">
	<div class="col-6">
		<app-login *ngIf="!isAuthenticated"></app-login>
		<div *ngIf="isAuthenticated" [ngClass]="isAuthenticated ? 'welcome-user' : ''">
			<div>
				<img id="pic-preview" [src]="pictureSrc" alt="your image" />
			</div>
			<div>
				Hello {{user.firstname}} {{user.lastname}}
			</div>
			<div>
				Welcome to your Homepage
			</div>
			<br>
			<div>
				Your role is {{user.role}}
			</div>
		</div>
	</div>
	<div class="col-6">
		<carousel height="325px" [automatic]="5">
			<carousel-item>
				<div class="carousel-item" style="background:url(/assets/images/background-laptop.jpeg) no-repeat; background-size: cover;">
					<div class="mask rgba-black-light">
						<p class="text">Laptops</p>
					</div>
				</div>
			</carousel-item>
			<carousel-item>
				<div class="carousel-item" style="background:url(/assets/images/background-phone.jpeg) no-repeat; background-size: cover;">
					<div class="mask rgba-black-light">
						<p class="text">Mobile Phones</p>
					</div>
				</div>
			</carousel-item>
			<carousel-item>
				<div class="carousel-item" style="background:url(/assets/images/background-accessory.jpeg) no-repeat; background-size: cover;">
					<div class="mask rgba-black-light">
						<p class="text">Earphones</p>
					</div>
				</div>
			</carousel-item>
		</carousel>
	</div>
</div>
<div class="col-12">

</div>
<app-shop></app-shop>