
<div class="col-3">&nbsp;</div>
<div class="col-6">
	<div id="itemTableContainer" class="col-10">
		<div class="col-12">
		<button id="addItem">Add</button>
		<button id="saveContent">Save</button>
	</div>
	<div id="uploadItemtitle" class="col-12">
		Item List
	</div>
	<table id="uploadItemTable" class="col-12">
		<thead>
			<tr><th>Title</th>
			<th>Price</th>
			<th>Type</th>
			<th>Manufacturer</th>
			<th>Release Date</th>
			<th>Delete</th>
		</tr></thead>
		<tbody>
		<tr *ngFor="let p of products.itemList; let i=index;">
			<td contenteditable="" class="itemAttr-title">
				{{p.title}}
			</td>
			<td contenteditable="" class="itemAttr-price">
				{{p.price}}
			</td>
			<td contenteditable="" class="itemAttr-type">
				{{p.type}}
			</td>
			<td contenteditable="" class="itemAttr-manufacturer">
				{{p.manufacturer}}
			</td>
			<td contenteditable="" class="itemAttr-releaseDate">
				{{p.releaseDate}}
			</td>
			<td>
				<button class="deleteButton"></button>
			</td>
		</tr>
		
		</tbody>
	</table>
	</div>
</div>
<div class="col-3">&nbsp;</div>